<div class="tech-btm">
    <h4>Mail bültenine abone ol!</h4>
    <p>Yeni blog yazılarımızı ve kampanyaları kaçırma..</p>
    <form action="/Newsletter/SubscribeMail" method="post">
        <input type="email" placeholder="Email" required="" name="Mail" id="email-input">
        <button type="submit">Abone Ol</button>
    </form>
</div>
